.bulma-container:not(.bulma-is-max-tablet):not(.bulma-is-max-desktop):not(.bulma-is-max-widescreen) {
    margin: 0.5rem 1rem;
    max-width: 90ch;
    width: auto;

    @media screen and (min-width: 769px) {
        margin: 0.5rem auto;
    }
}