.bulma-box {
    overflow: auto;
}

.bulma-container:not(.bulma-is-max-tablet):not(.bulma-is-max-desktop):not(.bulma-is-max-widescreen) {
    margin: 0.5rem 1rem;
    max-width: 90ch;
    width: auto;

    @media screen and (min-width: 769px) {
        margin: 0.5rem auto;
    }
}

.bulma-content h1:not(:last-child),
.bulma-content h2:not(:last-child),
.bulma-content h3:not(:last-child),
.bulma-content h4:not(:last-child),
.bulma-content h5:not(:last-child),
.bulma-content h6:not(:last-child) {
    margin-bottom: calc(var(--bulma-block-spacing) / 2);
}

code {
    text-wrap: nowrap;
    font-size: 0.8em;
    @media screen and (min-width: 1024px) {
        font-size: var(--bulma-code-size);
    }
}

.code.code {
    font-size: var(--bulma-small-font-size);
    max-height: max(600px, 50vh);
}

.supported-modes > *:not(:last-child):after {
    content: ", ";
}

dl {
    display: grid;
    gap: 0 1ch;
    grid-template-columns: auto 1fr;
}

dt {
    font-weight: bold;
}
